* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: #ff0000;
}

body {
    background-color: aqua;
}

.container {
    margin: 50px 0;
    height: 100vh;
}

#messages {
    font-size: 17px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#messages h2 {
    margin: 10px 20px;
}

#messages button {
    border: none;
    background-color: #ff0000;
    font-size: 30px;
    cursor: pointer;
}

div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div form label {
    margin: 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    font-size: 30px;
}

div form input {
    margin: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;    
    line-height: 20px;
    padding: 10px 20px;
}

div form button {
    background-color:#8deb90 ;
    padding: 5px 10px;
    margin: 10px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.weather-info {
    border: 5px dotted black;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100vh;
    text-align: center;
    margin: 20px auto;
    font-family: sans-serif;
}

.weather-info h1 {
    margin: 10px;
}